<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Update Book</title>
</head>
<body>
    <a href="/logout">Log Out</a>
    <h1>Welcome {{user.first_name}}</h1>
    <form action='/update_book/{{books.id}}' method ='post'> 
        {% csrf_token %}
        <input type= 'text' name='title' value='{{books.title}}'>
        <p>Added by {{books.uploaded_by.first_name}}</p>
        <p>Added on: {{books.created_at}}</p>
        <p>Updated on : {{books.updated_at}}</p>
        Description: <textarea name="description">{{books.description}}</textarea>
        <button>Update</button>
    </form>
    <h1>Users Who Like this Book:</h1>
    {% if user == books.users_who_like %}
    <li>{{users_who_like.first_name}} {{books.users_who_like.last_name}}</li>
    {% endif %}
    
</body>
</html>