<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=, initial-scale=1.0">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <title>Edit Show</title>
</head>
<body>
    <div class="wrapper">
        <a href='/'>Go Back</a>

        <div class="edit_show">
            <h1>Edit {{displayed_show.show_title}}</h1> 
                <form action="/shows/{{displayed_show.id}}/update" method="POST">
                {% csrf_token %}
                    <label for="show_title">Title</label><br>
                    <input type="text" value='{{displayed_show.show_title}}' name = "edit_title"><br><br>
                    <label for="show_network">Network</label>
                    <input type="text" value='{{displayed_show.show_network}}' name = "edit_network">
                    <label for="show_date">Release Date</label>
                    <input type="date" value='{{displayed_show.show_date}}' name = "edit_date"><br><br>
                    <label for="show_description">Description</label><br><br>
                    <textarea rows="10" cols="30" name="edit_description">{{displayed_show.description}}</textarea><br><br>
                    <input type="submit" value="Update">
                </form>
                <a href='/shows/{{displayed_show.id}}'>Go To Show</a>
        </div>
    </div>
    
</body>
</html>