<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>index</title>
</head>
<body>
    <div class="container">
        

        <p>Random Word (attempt # {{count}} ) </p> 
    <form action='/process_random_word' method='POST'>
        {% csrf_token %}
        <ul>
            {% for activity in activities %}
            <li>{{activity.random_string}}</li>
            {% endfor %}
        </ul>
        <button type='submit'>Generate</button>
    </form>
    </div>
</body>
</html>